@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  :root {
    --color-red: 229, 9, 20;
    --color-red-secondary: 193, 17, 25;
  
    --color-gray: 200, 200, 200;
    --color-gray-light: 245, 245, 245;
    --color-gray-secondary: 160, 160, 160;
    --color-gray-white: 255, 255, 255;
    --color-gray-hover: 220, 220, 220;

    
    --color-gray-40: 190, 190, 190;     /* don't remove */
    --color-gray-static: 190, 190, 190;      /* don't remove */

    
    --color-black: 34, 34, 34;          /* Dark gray for readability */
    --color-black-10: 245, 245, 245;    /* Very light gray */
    --color-black-30: 210, 210, 210;    /* Light gray */
    --color-black-70: 90, 90, 90;       /* Darker gray */
    --color-black-90: 45, 45, 45; 
    
    --text-secondary: 76, 76, 76;          /* Light theme secondary text color */
    --text-highlight: 0, 0, 0;              /* Light theme highlighted text */
    --text-hover: 0, 0, 0; 
    
    --toggle-bg: 229, 229, 229;      /* Light gray background */
    --toggle-border: 0, 0, 0;        /* Black border */
    --toggle-active: 229, 9, 20;     /* Netflix red active state */
    --toggle-hover: 244, 6, 18;      /* Lighter red hover state */
    --toggle-text: 0, 0, 0;          /* Black text */
    
    --text-default: 20, 20, 20;  /* Light theme default text color */
    --text-accent: 0, 0, 0; 
                 
    --color-gray-dark: 250, 250, 250;
    --color-black-total: 0, 0, 0;
    
    --bg-accent: 0, 0, 0; 
    --bg-secondary: 160, 160, 160;

  }
  
  .dark-theme {  
    --color-red: 229, 9, 20;
    --color-red-secondary: 193, 17, 25;
  
    --color-gray: 115, 115, 115;
    --color-gray-light: 239, 239, 239;
    --color-gray-secondary: 76, 73, 72;
    --color-gray-white: 250, 250, 250;
    --color-gray-hover: 128, 128, 128;
    
    --color-gray-40: 128, 128, 128;      /* don't remove */
    --color-gray-static: 190, 190, 190;      /* don't remove */
    
    --color-black: 0, 0, 0;
    
    --text-secondary: 200, 200, 200;        /* Dark theme secondary text color */
    --text-highlight: 255, 255, 255;        /* Dark theme highlighted text */
    --text-hover: 200, 200, 200; 
    
    --toggle-bg: 20, 20, 20;         /* Dark gray background */
    --toggle-border: 229, 9, 20;     /* Netflix red border */
    --toggle-active: 229, 9, 20;     /* Netflix red active state */
    --toggle-hover: 244, 6, 18;      /* Lighter red hover state */
    --toggle-text: 255, 255, 255;    /* White text */
    
    --text-default: 235, 235, 235;          /* Dark theme default text color */
    --text-accent: 255, 255, 255; 

    --color-gray-dark: 24, 24, 24;
    --color-black-total: 0, 0, 0;

    
    --bg-accent: 255, 255, 255; 
    --bg-secondary: 76, 73, 72;
  }
}
